@font-face {
    font-family:"Geomanist Regular";
    src: url('https://joseamayadev.github.io/jamar_designs_public/Geomanist/Geomanist-Regular.otf')
}
@font-face {
    font-family:"Geomanist Bold";
    src: url('https://joseamayadev.github.io/jamar_designs_public/Geomanist/Geomanist-Bold.otf')
}
@font-face {
    font-family:"Geomanist Medium";
    src: url('https://joseamayadev.github.io/jamar_designs_public/Geomanist/Geomanist-Medium.otf')
}

.contenedor-titulos-seccion-detalles-iluminan {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.contenedor-titulos-seccion-detalles-iluminan h2{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Geomanist Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #4E4E4E;
    margin-bottom: 24px;
    width: 80%;
}
.contenedor-titulos-seccion-detalles-iluminan h2.style-2{
    color: #A7977E;
}
.contenedor-titulos-seccion-detalles-iluminan p{
    font-family: 'Geomanist Regular';
    font-style: normal;
    font-weight: Regularer;
    font-size: 32px;
    width: 80%;
    color: #4E4E4E;
}
.contenedor-titulos-seccion-detalles-iluminan p:nth-of-type(1){
    font-family: 'Geomanist Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    width: 80%;
    color: #4E4E4E;
    margin-bottom: 40px;
}

.contenedor-seccion-detalles-iluminan {
    display: flex;
    width: 100%;
    position: relative;
    height: 746px;
    align-items: center;
    justify-content: center;
}
.contenedor-seccion-detalles-iluminan .img-detalles-ilumina-izq {
    display: flex;
    position: absolute;
    width: 802px;
    height: 549.9px;
    left: 0px;
}
.contenedor-seccion-detalles-iluminan .img-detalles-ilumina-top-center {
    position: absolute;
    width: 719px;
    height: 391px;
    left: 377px;
    top: 0px;
}


.contenedor-seccion-detalles-iluminan .container-parrafo-detalles-iluminan {
    position: absolute;
    width: 571px;
    height: 85%;
    right: 0px;
    top: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    align-self: flex-end;
    flex-direction: column;

}
.contenedor-seccion-detalles-iluminan .container-parrafo-detalles-iluminan .texto-ilumina-derecha {
    width: 571px;
    font-family: 'Geomanist Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
}
.contenedor-seccion-detalles-iluminan .container-parrafo-detalles-iluminan .texto-ilumina-derecha:nth-of-type(1) {
   margin-bottom: 20px;
}




@media screen and (max-width:800px) {
    .contenedor-seccion-detalles-iluminan {
        display: flex;
        width: 100%;
        position: relative;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .contenedor-seccion-detalles-iluminan .img-detalles-ilumina-izq {
        width: 80%;
        height: 300px;
        position: static;

    }

    .contenedor-seccion-detalles-iluminan .img-detalles-ilumina-top-center {
        width: 100%;
        left: 0px;
        height: 700px;
        object-fit: cover;
        object-position: center center;
    }

    .contenedor-seccion-detalles-iluminan .container-parrafo-detalles-iluminan {
        position: absolute;
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        align-self: flex-end;
        font-size: 20px;
        position: static;
        margin-top: 20px;
    
    }

    .contenedor-seccion-detalles-iluminan .container-parrafo-detalles-iluminan .texto-ilumina-derecha {
        width: 70%;
        font-family: 'Geomanist Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        text-align: center;
        font-size: 16px;
        position: static;

    }

    .contenedor-titulos-seccion-detalles-iluminan h2 {
        font-size: 24px;
        width: 90%;
    }
    .root .contenedor-titulos-seccion-detalles-iluminan p {
        font-size: 16px;
        text-align: center;
    }

    
}
