.card-product-page-list {
     cursor: pointer;
}
.card-product-page-list * {
     cursor: no-drop;
     pointer-events: none;
}

.material-text-size {
    width: 10ch ;
    font-size: 11px;
}

.sumar-valores *,
.restar-valores * {
    pointer-events: none;
}

.qty-product {
    font-size: 30px;
}
