.container-grid-2-column {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* insertar mediaqueri en 900px maximo */
@media screen and (max-width: 900px) {
    .container-grid-2-column {
        grid-template-columns: 1fr;
    }
}

.left-container {
    grid-template-columns: 1fr;
    background-color: #f2ede4;
    display:flex;
    justify-content:center;
    align-items:center;
}

.left-container picture img {
    animation-name: aumentar-reducir;
    animation-duration: 2s;
    animation-iteration-count: infinite; /* Si desea que la animación se repita indefinidamente */
}




@media screen and (max-width: 900px) {
    .left-container {
        grid-template-columns: 1fr;
        height: 230px;
        background-color: #f2ede4;
    }
    .left-container picture img {
        animation-name: aumentar-reducir;
        max-width: 100%;
        animation-duration: 2s;
        animation-iteration-count: infinite; /* Si desea que la animación se repita indefinidamente */
    }
}

@keyframes opacidad {
    0% {opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}   
}
@keyframes opacidad-out {
    0% {opacity: 1;}
    50% {opacity: 0.5;}
    100% {opacity: 0;}   
}

@keyframes aumentar-reducir {
    0% {transform: scale(0.8);}
    50% {transform: scale(1);}
    100% {transform: scale(0.8);}     
}

@keyframes aumentar-reducir-2 {
    0% {transform: scale(0.4);}
    50% {transform: scale(1);}
    100% {transform: scale(0.4);}     
}
  